*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{

  overflow-y: scroll;
  overflow-x:hidden;
  scroll-behavior: smooth;
 


}
html{
  scroll-behavior: smooth;
  overflow-x:hidden;

}

a {
  text-decoration: none;
}


.scroll-bach{
  position: fixed;
  width: 50px;
  height: 50px;
  background-color: blue;
  right: 10px;
  bottom: 10px;
  border-radius: 50%;
}




